 <!-- Sidebar -->
 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <!-- adding a favicon to the tab -->
   <link rel="icon" href="images/new-tab-img.png" type="image/x-icon">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
  <div class="flex h-screen">
    <aside class="w-64 bg-gray-800 text-white flex flex-col fixed h-full">
    <div class="p-6 text-2xl font-bold">Admin Dashboard</div>
    <nav class="mt-6 flex-1">
      <a href="/dashboard" class="block px-6 py-3 hover:bg-gray-700">Dashboard</a>
      <a href="/room" class="block px-6 py-3 hover:bg-gray-700">Rooms</a>
      <a href="/users" class="block px-6 py-3 hover:bg-gray-700">Users</a>
      <a href="/feedback" class="block px-6 py-3 hover:bg-gray-700">FeedBack</a>
    </nav>
  </aside>
  <!-- Main Content -->
<div class="flex-1 flex flex-col ml-64 max-w-full">
  <header class="bg-white shadow p-4 flex justify-between items-center">
    <% if (locals.email && locals.email.length > 0) { %>
    <h1 class="text-xl font-bold">Welcome, <%= email %>!</h1>
    <% } else{%>
    <h1 class="text-xl font-bold">Welcome, Super Admin!</h1>
    <% } %>
    <form action="/logout" method="GET" style="display: inline;">
      <input type="hidden" name="fromAdmin" value="true" />
      <button 
        type="submit" 
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
        Logout
      </button>
    </form>    
  </header>
  